@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #f8f8f8;

  --color-text-primary: rgb(183, 183, 183);
  --color-text-secondary: rgb(255, 116, 116);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-primary {
    color: var(--color-text-primary);
  }

  .text-secondary {
    color: var(--color-text-secondary);
  }
}
